@font-face {
  font-family: "vt323";
  src: url("./VT323-Regular.ttf");
}

@font-face {
  font-family: "04B_30";
  src: url("./04B_30__.TTF");
}

$font-family: "vt323", sans-serif;
$font-family-large: "04B_30", sans-serif;
