$corner-length: calc(100% - 15px);
$corner-displacement: 15px;
$start-displacement: calc($corner-displacement / 2);

.outer {
  &::after,
  &::before {
    transition: transform 0.15s ease-in;
  }

  &::after {
    transform: translate(-$start-displacement, -$start-displacement);
  }

  &::before {
    transform: translate($start-displacement, $start-displacement);
  }

  &:hover::after {
    transform: translate(-$corner-displacement, -$corner-displacement);
  }
  &:hover::before {
    transform: translate($corner-displacement, $corner-displacement);
  }

  &,
  .inner {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      border: 2px solid rgb(50, 211, 255);

      clip-path: inset(0 $corner-length $corner-length 0);
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border: 2px solid rgb(50, 211, 255);

      clip-path: inset($corner-length 0 0 $corner-length);
    }
  }

  .inner {
    &::after,
    &::before {
      border: 1px solid rgba(50, 211, 255, 0.5);
    }

    width: 100%;
    height: 100%;
  }

  .button {
    position: relative;
    color: black;
    background-color: rgb(50, 211, 255);
    width: max-content;

    display: grid;
    place-items: center;

    transition: background-color 0.15s ease-in-out;

    &:hover {
      background-color: rgb(50, 166, 255);
    }

    a {
      display: block;
      color: inherit;
      text-decoration: none;

      padding: 0.5rem 1.2rem;
      width: max-content;
    }
  }
}
