* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .jb-retro-gaming,
.jb-retro-gaming *:not(a) {
  touch-action: none;
  user-select: none;
} */

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}
