.body {
  &,
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    scrollbar-width: 0;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  overflow: visible;
  background-color: #050515;

  &,
  a {
    color: #dfdfff;
  }
}

.layout {
  display: flex;
  position: relative;
  height: 100dvh;
  min-height: 100dvh;
  flex-direction: column;
}
